
.margin { 
    border: 10px ridge green;
}
.marginspace {
    margin-top:10px; 
    margin-right: 20;
    margin-bottom: 100px;
    margin-left: 20px;
    position: sticky; top: 10px;
}
.border {
    border: 5px double yellow;
}
.logo {
    float: left;

}
.float-left {
    float: left;
}
nav {
    background-color: aqua
}
a:link{
    text-decoration: none;
}
a:visited{
    color: black;
}
a:hover{
    background-color: antiquewhite;
    text-decoration: underline;
}
.nav-left {
    float: left;
}
.nav-right {
    float: right
}
.clearfloats {
    clear: both;
}
.nav-right, .nav-left {
    margin-top: 0px;
    margin-right: 20px;
    list-style-type: none;
}
nav, footer {
    height: 40px; text-align: center; padding: 0px; margin: 10px; 
    box-shadow: 5px 5px limegreen;
}
.column1 {
    width: 20%;
}
.column2 {
    float: right;
    width: 50%;
}
.row:after {
    clear: both;
}
section, article {
    height: 350px; text-align: center; padding: 0px; margin: 10px; 
    box-shadow: 5px 5px limegreen
}
aside {
    height: 722px; text-align: center; padding: 0px; margin: 10px; 
    box-shadow: 5px 5px limegreen;
}
#section-article_column {
    width: 65%;
}
#aside_column {
    width: 35%;
}
h1, h2, h3 {
    text-shadow: 5px 5px gray;
}

.column {
    float: left;
    width: 25%;
    height: 500px;
}

#box1 {
    background-color: darkkhaki;
    border-width: 50px;
    border-color: black;
}
#box2 {
    background-color: steelblue;
    border-width: 50px;
    border-color: black;
}
#box3 {
    background-color: fuchsia;
    border-width: 50px;
    border-color: black;
}
#box4 {
    background-color: lightgreen;
    border-width: 50px;
    border-color: black;
}
.row:after {
    clear: both;
}